*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.outdiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 105px;
  background-color: rgba(250, 235, 215, 0.155);
  padding-bottom: 50px;
}

/* .right-divv{
  height:500px;
} */

.leftt{
  width: 500px;
  height: 500px;
  margin: auto;
}

.leftt>img{
  width: 500px;
  height: 500px;
  border-radius: 250px;
  object-fit: cover;
  object-position: cover;
}

.rightt{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 100px;
}

.hero-welcome{
  text-align: start;
  margin-bottom: 20px;
  /* font-size: 40px; */
}
.med{
  color: skyblue;
}
.to{
  color: navy;
}

.med-text{
  color: #121212;
  text-align: center;
  font-size: 18px;
}

@media only screen and (max-width:600px){
  .outdiv{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .leftt{
    width: 240px;
    height: 240px;
    margin: auto;
  }
  
  .leftt>img{
    width: 240px;
    height: 240px;
    border-radius: 120px;
    object-fit: cover;
    object-position: cover;
  }

  .rightt{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
  }
  .med-text{
    text-align: justify;
  }
  .leftt{
    padding-top: 40px;
  }
}